body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

input[type='text'] {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px;
}
